{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-500 mt-5">
        <div class="row align-items-center">
            <div class="col-5">
                <h1 class="text-white">
                    GET FIT! HAVE FUN! REPEAT!!
                </h1>
                <h2 class="text-white">
                    One Membership, Tons of Workouts to Choose From.
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="text-white">Sign Up and Subscribe Today!!!!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}