html {
    height: 100%
}

body {
    background: url('/media/landing-page.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0px;
    padding-right: 5px;
}

.navbar-nav .nav-item {
    padding: 5px;
}

.navbar-brand {
    font-size: 30px;
    padding: 5px;
}

.nav-link{
    color: 	rgb(255,255,255) !important;
}

.dropdown-menu {
    background-color: black !important;
    color: 	rgb(255,255,255) !important;
}

.dropdown-item a{
    color: 	rgb(255,255,255) !important;
}

.dropdown-item:hover{
    color: 	black !important;
}

.dropdown-item{
    color: 	rgb(255,255,255) !important;
}

.navbar-nav a:hover {
    text-decoration: underline;
  }

.navbar-toggler {
    border-color: rgb(255,255,255) !important;
    border: 2px solid transparent;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(0, 0, 0);
	z-index: -1;
}

.crispy {
    background-color: rgb(255,255,255, 0.8);
    padding: 25px;
    border-radius: 25px
}


/*---- Content Page ----*/

.card {
    background-color: rgb(238, 238, 241);
    border-radius: 5px;
    margin: 10px;
}

.card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-descrip {
    width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }


/*---- video-player ----*/

.video-player {
    background-color: rgb(238, 238, 241);
    border-radius: 5px;
    padding: 10px;
}

.video-descrip {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }



/*---- Media Quires ----*/


