{% extends "account/base_sub.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<body>
  <div class="container mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12 sub-stripe text-center">
          <h1>Subscription Cancelled.</h1>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-success btn-lg" type="submit">{% trans 'HomePage' %}</button>
          </form>
        </div>
        </div>
    </div>
  </div>
</body>

{% endblock %}


