{% extends "subscriptions/base.html" %}
{% load static %}

{% block content %}
  <body>
    <div class="container mb-5 mt-5">
      {% if subscription.status == "active" %}
      <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12 sub-stripe text-center">
            <h1>You have successfully subscribed to Kevs Fitness World</h1>
            <div class="text-center">
            <a type="button" class="btn btn-success btn-lg" href="{% url 'home' %}">Continue to Site</a>
          </div>
          </div>
      </div>
      {% else %}
      <div class="container">
        <div class=" crispy d-flex justify-content-center mt-5">
          <div class="text-center">
              <h1>To view this video please sign up or login to your current subcription <i class="fas fa-video"></i></h1>
              <a class="btn btn-info btn-lg" href="{% url 'account_signup' %}">Sign Up</a>
              <a class="btn btn-info btn-lg" href="{% url 'account_login' %}">Login</i></a>
            </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
{% endblock %}
