{% extends "subscriptions/base.html" %}
{% load static %}

{% block content %}
  <body>
    {% if payment_intent.status == "succeeded" %} 
    <div class="container mb-5 mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12 sub-stripe text-center">
            <h1>You have successfully subscribed to Kevs Fitness World</h1>
            <div class="text-center">
            <a type="button" class="btn btn-success btn-lg" href="{% url 'home' %}">Continue to Site</a>
          </div>
          </div>
      </div>
    </div>
    {% else %}
      <div class="container mb-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12 sub-stripe text-center">
              <h1>Subscription Cancelled.</h1>
            </div>
            </div>
        </div>
      </div>
      {% endif %}
  </body>
{% endblock %}
