{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container crispy">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Delete Video</legend>
                <h5>Are You Sure?</h5>
                <p>This will delete the video forever.  This cannot be undone.</p>
                <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" onclick="goBack()">No Return</button>
                <input type="submit" class="btn btn-danger btn-lg" value="Yes Delete" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function goBack() {
      window.history.back()
    }
</script>
{% endblock content %}