{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
	<div class="container">
		<div class="row mt-5">
			<div class="video-player col-md-8 col-sm-12 col-xs-12">
				<video-js
					width="720"
					height="405"
					controls
					data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
					<source src="/media/{{ object.video_file }}" type="video/mp4">
					<p class="vjs-no-js">
					To view this video please enable Javascript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video-js>
				<h3 class="mt-4"><strong>{{ object.title }}</strong></h3>
				<div class="row">
					<div class="col-md-6">
					<strong><p>{{ object.date_posted | date:"M d, Y" }}</p></strong>
					<a type="button" class="btn btn-outline-info" href="{% url 'category-list' object.category.pk %}">{{ object.category }}</a>
					</div>
				</div>
				<div>
					<p class="info-text video-descrip m-0"><strong>Description: </strong>{{ object.description }}</p>
				</div>
				<div class="text-center">
				{% if request.user.is_superuser or object.uploader == user %}
				<a type="button" class="btn btn-primary" href="{% url 'video-update' object.pk %}">Edit <i class="fas fa-edit"></i></i></a>
				<a type="button" class="btn btn-danger" href="{% url 'video-delete' object.pk %}">Delete <i class="fas fa-trash-alt"></i></i></a>
				{% endif %}  
			    </div>
			</div>
		    <div class="sim-vids col-md-4 col-sm-12 col-xs-12 pt-2 d-none d-md-block">
			   <h3 class="text-center mb-3"><u>Similar Videos</u></h3>
			     {% for category in categories %}
				 {% if object.pk != category.pk %}
					<div class="position-relative d-flex flex-row mb-5 py-2 border-bottom">
						<img src="{{ category.thumbnail.url }}" width="100" height="50" />
						<h5 class="pl-3">{{ category.title }}</h5>
						<a href="{% url 'video-detail' category.pk %}" class="stretched-link"></a>
					</div>
				  {% endif %}
			      {% endfor %}
		    </div>
	    </div>
		{% for comment in comments %}
		<div class="row mt-3">
			<div class="crispy-comment col-md-8 col-sm-12">
				<h5 class="border-bottom">{{ comment.user }} says:</h5>
				<p><u>{{ comment.comment }}</u></p>
			</div>
		</div>
		{% endfor %}
		<div class="row mt-3">
			<div class="crispy-comment col-md-8 col-sm-12">
				<form method="POST">
					{% csrf_token %}
					<legend class="border-bottom mb-4">Leave a Comment!</legend>
					{{ form | crispy }}
					<button class="btn btn-info btn-block">Post</button>
				</form>
			</div>	
		</div>
	</div>
 {% else %} 	
 	<div class="container">
		<div class=" crispy d-flex justify-content-center mt-5">
			<div class="text-center">
	  			<h1>To view this video please sign up or login to your current subcription <i class="fas fa-video"></i></h1>
	    		<a class="btn btn-info btn-lg" href="{% url 'account_signup' %}">Sign Up</a>
	    		<a class="btn btn-info btn-lg" href="{% url 'account_login' %}">Login</i></a>
  			</div>
		</div>
	</div>
 {% endif %}  
{% endblock %}

