{% extends "base.html" %}
{% load static %}


{% block content %}
	<div class="container">
		<div class="row mt-5">
			<div class="video-player col-md-8 col-sm-12 col-xs-12">
				<video-js
					width="720"
					height="405"
					controls
					data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
					<source src="/media/{{ object.video_file }}" type="video/mp4">
					<p class="vjs-no-js">
					To view this video please enable Javascript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video-js>
				<h3 class="mt-4"><strong>{{ object.title }}</strong></h3>
				<div class="row">
					<div class="col-md-6">
					<strong><p>{{ object.date_posted | date:"M d, Y" }}</p></strong>
					</div>
				</div>
				<div>
					<p class="info-text video-descrip m-0"><strong>Description: </strong>{{ object.description }}</p>
				</div>
				<div class="text-center">
				{% if request.user.is_superuser or object.uploader == user %}
				<a type="button" class="btn btn-primary" href="{% url 'video-update' object.pk %}">Edit <i class="fas fa-edit"></i></i></a>
				<a type="button" class="btn btn-danger" href="{% url 'video-delete' object.pk %}">Delete <i class="fas fa-trash-alt"></i></i></a>
				{% endif %}  
			    </div>
			</div>
		</div>
	</div>
{% endblock %}

