{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="title col-md-12 my-3 text-center">
                <h2>{{ category.name }} Videos</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for video in videos %}
            <div class="card img-responsive">
                <a href="{% url 'video-detail' video.pk %}"><img class="img-fluid" src="/media/{{ video.thumbnail }}" width="256" height="144"></a>
                <div class="card-body">
                    <a class="link-text" href="{% url 'video-detail' video.pk %}"><h5 class="text-center">{{ video.title }}</h5></a>
                    <p class="info-text card-descrip"><strong>Description: </strong>{{ video.description }}</p>
                    <p class="text-center font-weight-bold m-0">By:<strong class="text-success">{{ video.uploader }}</strong></p>
                    <p class="text-center font-weight-bold">Uploaded:<strong class="text-success">{{ video.date_posted | date:"M d, Y" }}</strong></p>
                    {% if request.user.is_superuser %}
					<div class="text-center mt-3">
					<a type="button" class="btn btn-outline-primary btn-sm" href="{% url 'video-update' video.pk %}">Edit <i class="fas fa-edit"></i></i></a>
					<a type="button" class="btn btn-outline-danger btn-sm" href="{% url 'video-delete' video.pk %}">Delete <i class="fas fa-trash-alt"></i></i></a>
					</div>
					{% endif %} 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}